img
{
  height:400px;

}
h1
{
  font-family:"fantasy";
}
.left
{
   background-color:lightblue;
}
.sub
{
  font-size:20px;
  padding-left:10px;
}
a
{
  position: relative;
  top:50px;
  padding-left:100px;
}
.car
{
  margin-top: 150px;
}
.heading
{
  text-align: center;
  font-family:"cursive";
  font-size:150px;
}
.cstyle
{
  position:relative;
  left:500px;
  top:150px;
  width:500px;
  height:400px;
}
